<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WroldTrotter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6450191020F5DDC900ABA279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6450192420F5DDCA00ABA279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6450192F20F5DDCA00ABA279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
